##### 基本配置
server:
  port: 8601
spring:
  application:
    name: monitor
  ##### Consul配置
  cloud:
    consul:
      discovery:
        serviceName: monitor
        register: true
      #      host: http://10.10.0.248
      host: http://127.0.0.1
      port: 8500
##### actuator配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: env
  endpoint:
    health:
      show-details: ALWAYS
#turbine:
#  appConfig: consumer
#  aggregator:
#  clusterConfig: default
#  clusterNameExpression: new String("default")
#  instanceUrlSuffix: /hystrix.stream